*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 79px 123px;
    max-width: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

img{
    max-width: 250px;
}